<ion-view view-title="TheVocabClub">
  <ion-content id='deck'>
	<ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="reloadList()">
    </ion-refresher>
	<br/><br/>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
	<div class="card" style="background: linear-gradient(45deg, {{card.color}} 0%, {{card.color}} 80%, white 140%)"  ng-repeat="card in cards" ng-click="focus_card($index)">
	  <div class="card-header item item-divider">
	    {{card.keyword}}
		<img src="./img/target.png" width="25" height="33" alt="Target" ng-show="card_is_on_focus($index)"/>

	  </div>
	  <div class="card-body item item-text-wrap" ng-show="card_is_on_focus($index)">
		  <p>
			  {{card.description}}
		</p>
		  <!-- <img class="card_image" src="{{card.image}}"/> -->
		  
	  </div>
	</div>
  </ion-content>
</ion-view>
