<ion-view view-title="Playlists">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
	<div class="card" style="background-color:{{card.color}}"  ng-repeat="card in cards">
	  <div style="background-color:{{card.color}}" class="item item-divider">
	    {{card.keyword}}
	  </div>
	  <div class="item item-text-wrap">
		  {{card.description}}
		  <img class="card_image" src="{{card.image}}"/>
	  </div>
	</div>
  </ion-content>
</ion-view>
