/* Empty. Add your own CSS if you like */
.card_image{
/*	width: 200px;*/
	max-width: 100%;
	height: 200px;
	
}
/*
.cardWrap {
  width: 27em;
  margin: 3em auto;
  color: #fff;
  font-family: sans-serif;
}*/


.card {

	font-weight: 200;

	 background: linear-gradient(to top, red 0%, red 80%, white 140%);
  position: relative;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
  margin: -15px 15px 0 15px;
  z-index:1;
}
.card:nth-child(1) {
	margin-top:20px;
}


.card-body{
	background-color: rgba(255,255,255,0.9);
	padding-bottom:30px;
	  transition: all 0.1s linear;
}


.card-header{
	font-family: "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light";
/*	font-weight: light;*/
	background-color:transparent;
	padding: 20px 30px 20px 30px;
	font-size: 1.8em;
	color: white;
	font-weight: 200;
}

#deck{
	background-color:black;
	background: radial-gradient(black 0%, grey 200%);
	padding-bottom:60px;
}